 /* .submit
 input.form-control*/

/*max-width1199px
991px
767px
480px*/

*{
margin:0px;
padding:0px;
}

header{
width:100%;
height:50px;
}
header form{
float:right;
width: 48%;
margin-right:0;
}
.header{
    margin-top: 6px;
}
.new-classic{
    font-weight: bold;
    font-size: 70px !important;
}
.new-classic1{
    display: none;
}
.top {
width: 50%;
float: right;
padding-top: 1px;
}
.top ul li{
list-style: none;
float: left;
width: 34px;
border: 1px solid #f0f0f0;
padding: 6px;
text-align: center;
background-color: black;
color: white;
}

.top .find{
    margin-right: 10px;
}
.top .person{
    margin-right: 10px;
    background: #f0f0f0;
    color: #333;
}
.top .zero{
    margin-right: 10px;
    background: white;
    color: black;
}
.material-icons{
    font-size: 15px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
  background-color: #333;
  z-index: 1;
}
#navbar .fa {
    position: relative;
    right: -5px;
    top: 2px;
}
#navbar i.material-icons {
    position: relative;
    top: 3px;
    }
#search{
padding:6px;
margin-top: 2px;
border: 1px solid #f1f1f1;
float: left;
width: 50%;
}
nav{
width:100%;
height:51px;
border-bottom:1px solid black;
background-color: black;
}
nav ol li{
display:inline-block;
color:white;
width:150px;
text-align:center;
padding:12px 0px;
}
nav ol li a{
color:black;
}
nav ol li a:hover {
color: black;
}
nav ol li:hover{
cursor:pointer;
}
a.black {
color: white;
}
a.black:hover {
color: white;
}
.carousel-caption {
    right: 20%;
    left: 28%;
    top: 20% !important;
    padding-bottom: 30px !important;
}
.shine {
    font-size: 70px;
    color: #333;
    font-weight: bold;
}
.shine1{
    display: none;
}
#submenu{
display:none;
}
nav ol li:hover #submenu{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
}
nav ol li ol li{
display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;
}

nav ol li:hover #submenu li{
display:list-item;
list-style:none;
background-color:white;
color: black;
text-align: left;
padding-left: 25px;
height: 30px;
width: 174%;
}
nav ol li ol li:hover #submenu1{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
list-style:none;
background-color:red;
left: 210px;
width: 111%;
}
.sale{
    font-size: 70px;
    float: right;
    font-weight: bold;
    color: white;
}
.fine{
    position: relative;
    float: right;
    top: 208px;
    left: 345px;
    font-size: 30px;
    text-align: center;
}
nav ol li ol li:hover{
cursor:pointer;
}
#submenu1{
display:none;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
.shopnow{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 5px;
    padding-left: 22px;
}

.picture ul{
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    width: 100%;

}
.picture li img {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.picture ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 33.33%;
    height: 500px;
    float: left;
    padding: 0px;
    text-align: center;
    position: relative;
}
.svg{
    position: absolute;
    font-size: 75px;
    width: 50px;
    right: 70%;
    top: 70%;
}
.banner ul{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-top: -20px;

}
.banner li img {
    width: 96%;
    margin-left: 4%;

}
.banner ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 49%;
    height: 350px;
    float: left;
    padding: 0px;
    position: relative;
}
.banner-off {
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: bold;
    left: 31%;
    top: 17%;
}
.learn-more {
    position: absolute;
    font-size: 15px;
    color: white;
    font-weight: bold;
    left: 7%;
    width: 126px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid white;
    margin: 0 auto;
    right: 25%;
    top: 68%;
    text-align: center;
}
.big-sale{
    position: absolute;
    font-size: 40px;
    color: black;
    font-weight: bold;
    left: 21%;
    top: 17%;
}
.ornaments{
    position: absolute;
    font-size: 25px;
    color: black;
    font-weight: bold;
    top: 60%;
    opacity: .9;
    right: 9%;
}
.featured{
    margin-left: 22px;
}
#section {
    width: 100%;
    padding-top: 25px;
}
#middlesection {
    border: 1px black;
    background-color: #f1f1f1;
    height: 150px;
    width: 96%;
    margin: 0 auto;
    padding-top: 32px;
    width: 0 auto;
}
.free{
    display: none;
}
#section1 {
    width: 19%;
    float: left;
    margin-left: 50px;
}
#section1 h3 {
    margin-top: 0px;
}
#section2 {
    width: 20%;
    height: 75px;
    float: left;
}
#section2 p {
    margin: 0px;
}
.form-control {
  font-family: "FontAwesome"
}
.control .fa{
    position: relative;
    top: 17px;
    float: left;
    left: 25px;
}
input.form-control {
    width: 47%;
     height: 47px;
    /* margin-top: 17px; */
    float: left;
    /* padding-top: 3px; */
     padding-left: 31px;
    border-radius: 0px;
    text-decoration: none;
    display: block;
}
.sale1{
    display: none;
}
.submit {
/*    float: right;
    padding-top: 8px;
    padding-bottom: 7px;
    display: table-cell;
    width: 11%;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    position: absolute;
    margin-left: 70%;
    margin-top: 3px;*/
    background-image: none;
    background: black;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 11px;
    font-size: 1.4rem;
    box-sizing: border-box;
    right: 116px;
    vertical-align: middle;
    position: relative;
    top: 5px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-4{
    width: 23.66% !important;
    display: inline-block;
}
.sale-shopnow{
    display: none;
}
.new{
    float: right;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.thumbnail{
    border: none !important;
}
.footer{
    overflow: hidden;
    /* width: 1200px; */
    /* margin: 0 auto; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.coll {
    float: left;
    width: 22%;
    padding: 10px;
    margin-left: 29px;
     height: 214px;
    border-right: 1px solid black;
    list-style: none;
}
.colfooter h3 {
    float: right;
    width: 62%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.colfooter .fa {
    color: #C0C0C0;
}
.para-footer{
    float: right;
    margin-top: 10px;
    font-size: 17px;
    padding-right: 10px;
    width: 61%;
}

.action .material-icons{
    font-size: 22px !important;
    margin-right: 4px !important;
    float: left !important;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-right: 3px !important;
}
.action .fa{
    font-size: 10px !important;
    display: block;
    float: left;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    padding-right: 3px !important;
    align-content: center;
    width: 24px;
}
.brand-footer {
    width: 14%;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 3%;
    display: inline-block;
}
.brand{
    width: 94%;
    clear: both;
    border-top: 1px solid;
    margin-top: 30px;
    margin: 0 auto;
}
.brand-graft{
    display: none;
}
.bottom{
    margin: 0 auto;
    clear: both;
    width: 100%;
    clear: both;
    background-color: #f1f1f1;
    margin-top: 64px;
    overflow: hidden;
    /* margin-left: 25px; */
    padding-top: 45px;
}
.shipping{
    float: left;
    display: inline-block;
    padding-right: 29px;
    margin-left: 25px;
    width: 13%;
}
.bottom-para{
    float: left;
    /* display: block; */
    /* padding-right: 30px; */
    width: 18%;
    margin-left: 5%;
    /* line-height: 25px; */
    opacity: .5;
    display: inline-block;
    padding-right: 0px;
    vertical-align: top;
}
.myaccount{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 0px;
    width: 14%;
}
.final{
    /* margin-left: 14px; */
    float: left;
    display: inline-block;
    /* margin-left: 8px; */
    /* margin-left: 25px; */
    margin-top: -7px;
    width: 29%;
}
.details{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 14px;
    width: 13%;
}

.bottom-para ul li{
    list-style: none;
}

.media ul li {
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 51%;
    background: #f1f1f1;
    padding-top: 3px;
    /* padding-right: 3px; */
    /* padding-left: 3px; */
    padding-bottom: 3px;
    float: left;
    border: 2px solid black;
}
.media .fa{
        padding-top: 5px !important;
}
#myBtn fa{
    position: relative;
    bottom: 20px;
}
.caption .product-name p{
float: left;
display: block;
}
.caption .product-name .price{
float: right;
display: block;
}
.caption .stars{
float:left;
display: block;
width:100%;
}
.caption .action{
float: left;
display: block;
padding-bottom: 25px;
}
#scrollToTop
{
 cursor:pointer;
 background-color:transparent;
 display:inline-block;
 height:40px;
 width:40px;
 color:#000;
 text-align:center;
 text-decoration:none;
 line-height:40px;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
font-size: 30px;
border-radius: 10px;
opacity:0.8;
padding-top: 12px;
}
li.coll:nth-last-child(1) {
    border: none;
}
.info-para{
    margin-top: 0px !important;
}
.buy{
    margin-top: 0px !important;
}
.account{
    margin-top: 0px !important;
}
.details ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.shipping ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.myaccount ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.final ul li {
    font-size: 13px;
    list-style: none;
}
.phone-clock-mail{
    padding-top: 17px;
}
.final-fa ul li i {
    padding-right: 10px;
}
.final-fa span{
    opacity: .5;
}
.footer-rights-payments{
    display: block;
    background-color: #333;
    clear: both;
    height: 51px;
}
.all-rights {
color: white;
padding-top: 15px;
margin-left: 10%;
opacity: 0.3;
}
.payment{
float: right;
clear: both;
color: white;
margin-top: -20px;
width: 22%;
}
.payment ul li{
list-style: none;
padding-right: 5px;
display: inline-block;
opacity: 0.3;
}
#accordian{
    display: none;
}




 @media only screen and (max-width: 1199px) {

*{
margin:0px;
padding:0px;
}

header{
width:100%;
height:50px;
}
header form{
float:right;
width: 48%;
margin-right:0;
}
.header{
    margin-top: 6px;
}
.new-classic{
    font-weight: bold;
    font-size: 39px !important;
    margin-top: -38px;
}
.new-classic1{
    display: none;
}
.top {
width: 50%;
float: right;
padding-top: 1px;
}
.top ul li{
list-style: none;
float: left;
width: 34px;
border: 1px solid #f0f0f0;
padding: 6px;
text-align: center;
background-color: black;
color: white;
}

.top .find{
    margin-right: 10px;
}
.top .person{
    margin-right: 10px;
    background: #f0f0f0;
    color: #333;
}
.top .zero{
    margin-right: 10px;
    background: white;
    color: black;
}
.material-icons{
    font-size: 15px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
  background-color: #333;
  z-index: 1;
}
#navbar .fa {
    position: relative;
    right: -5px;
    top: 2px;
}
#navbar i.material-icons {
    position: relative;
    top: 3px;
    }
#search{
padding:6px;
margin-top: 2px;
border: 1px solid #f1f1f1;
float: left;
width: 50%;
}
nav{
width:100%;
height:51px;
border-bottom:1px solid black;
background-color: black;
}
nav ol li{
display:inline-block;
color:white;
width:150px;
text-align:center;
padding:12px 0px;
}
nav ol li a{
color:black;
}
nav ol li a:hover {
color: black;
}
nav ol li:hover{
cursor:pointer;
}
a.black {
color: white;
}
a.black:hover {
color: white;
}
.carousel-caption {
    right: 20%;
    left: 28%;
    top: 20% !important;
    padding-bottom: 30px !important;
}
.shine {
font-size: 38px;
    color: #333;
    margin-top: -38px;
    font-weight: bold;
}
.shine1{
    display: none;
}
#submenu{
display:none;
}
nav ol li:hover #submenu{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
}
nav ol li ol li{
display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;
}

nav ol li:hover #submenu li{
display:list-item;
list-style:none;
background-color:white;
color: black;
text-align: left;
padding-left: 25px;
height: 30px;
width: 174%;
}
nav ol li ol li:hover #submenu1{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
list-style:none;
background-color:red;
left: 210px;
width: 111%;
}
.sale{
font-size: 38px;
    float: none;
    position: relative;
    font-weight: bold;
    left: 192px;
    color: white;
}
.fine{
position: relative;
    float: right;
    top: 12px;
    left: 26px;
    font-size: 24px;
    text-align: center;
}
nav ol li ol li:hover{
cursor:pointer;
}
#submenu1{
display:none;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
.shopnow{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 5px;
    padding-left: 22px;
}

.picture ul{
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    width: 100%;

}
.picture li img {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.picture ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 33.33%;
    height: 350px;
    float: left;
    padding: 0px;
    text-align: center;
    position: relative;
}
.svg{
    position: absolute;
    font-size: 75px;
    width: 50px;
    right: 70%;
    top: 55%;
}
.banner ul{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-top: -20px;

}
.banner li img {
    width: 96%;
    margin-left: 4%;

}
.banner ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 49%;
    height: 350px;
    float: left;
    padding: 0px;
    position: relative;
}
.banner-off {
    position: absolute;
    font-size: 35px;
    color: white;
    font-weight: bold;
    left: 31%;
    top: 14%;
}
.learn-more {
position: absolute;
    font-size: 15px;
    color: white;
    font-weight: bold;
    left: 7%;
    width: 126px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid white;
    margin: 0 auto;
    right: 25%;
    top: 64%;
    text-align: center;
}
.big-sale{
    position: absolute;
    font-size: 35px;
    color: black;
    font-weight: bold;
    left: 21%;
    top: 14%;
}
.ornaments{
    position: absolute;
    font-size: 23px;
    color: black;
    font-weight: bold;
    top: 54%;
    opacity: .9;
    right: 9%;
}
.featured{
    margin-left: 22px;
}
#section {
    width: 100%;
    padding-top: 25px;
}
#middlesection {
    border: 1px black;
    background-color: #f1f1f1;
    height: 150px;
    width: 96%;
    margin: 0 auto;
    padding-top: 32px;
    width: 0 auto;
}
.free{
    display: none;
}
#section1 {
    width: 19%;
    float: left;
    margin-left: 50px;
}
#section1 h3 {
    margin-top: 0px;
    font-size: 20px;
}

#section2 {
    width: 24%;
    height: 75px;
    float: left;
}
#section2 p {
    margin: 0px;
}
.form-control {
  font-family: "FontAwesome"
}
.control .fa{
    position: relative;
    top: 17px;
    float: left;
    left: 25px;
}
input.form-control {
    width: 39%;
     height: 47px;
    /* margin-top: 17px; */
    float: left;
    /* padding-top: 3px; */
     padding-left: 31px;
    border-radius: 0px;
    text-decoration: none;
    display: block;
}
.sale1{
    display: none;
}
.submit {
/*    float: right;
    padding-top: 8px;
    padding-bottom: 7px;
    display: table-cell;
    width: 11%;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    position: absolute;
    margin-left: 70%;
    margin-top: 3px;*/
    background-image: none;
    background: black;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 11px;
    font-size: 1.4rem;
    box-sizing: border-box;
    right: 116px;
    vertical-align: middle;
    position: relative;
    top: 5px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-4{
    width: 23.66% !important;
    display: inline-block;
}
.sale-shopnow{
    display: none;
}
.new{
    float: right;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.thumbnail{
    border: none !important;
}
.footer{
    overflow: hidden;
    /* width: 1200px; */
    /* margin: 0 auto; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.coll {
    float: left;
    width: 23%;
    /* padding: 10px; */
    margin-left: 10px;
    height: 266px;
    border-right: 1px solid black;
    list-style: none;
}
.colfooter h3 {
    float: right;
    width: 70%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 22px;
}
.colfooter .fa {
    color: #C0C0C0;
    font-size: 40px !important;
}
.para-footer{
    float: right;
    margin-top: 10px;
    font-size: 17px;
    padding-right: 10px;
    width: 69%;
}

.action .material-icons{
    font-size: 22px !important;
    margin-right: 4px !important;
    float: left !important;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-right: 3px !important;
}
.action .fa{
    font-size: 10px !important;
    display: block;
    float: left;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    padding-right: 3px !important;
    align-content: center;
    width: 24px;
}
.brand-footer {
    width: 14%;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 3%;
    display: inline-block;
}
.brand-footer img {
    vertical-align: middle;
    width: 82%;
    margin: 0 auto;
}
.brand{
    width: 94%;
    clear: both;
    border-top: 1px solid;
    margin-top: 30px;
    margin: 0 auto;
}
.brand-graft{
    display: none;
}
.bottom{
    margin: 0 auto;
    clear: both;
    width: 100%;
    clear: both;
    background-color: #f1f1f1;
    margin-top: 64px;
    overflow: hidden;
    /* margin-left: 25px; */
    padding-top: 45px;
}
.shipping{
    float: left;
    display: inline-block;
    padding-right: 29px;
    margin-left: 25px;
    width: 13%;
}
.bottom-para{
    float: left;
    /* display: block; */
    /* padding-right: 30px; */
    width: 18%;
    margin-left: 5%;
     line-height: 25px;
    opacity: .5;
    display: inline-block;
    padding-right: 0px;
    vertical-align: top;
}
.myaccount{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 0px;
    width: 14%;
}
.final{
    /* margin-left: 14px; */
    float: left;
    display: inline-block;
    /* margin-left: 8px; */
    /* margin-left: 25px; */
    margin-top: -7px;
    width: 29%;
}
.details{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 14px;
    width: 13%;
}

.bottom-para ul li{
    list-style: none;
}

.media ul li {
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 51%;
    background: #f1f1f1;
    padding-top: 3px;
    /* padding-right: 3px; */
    /* padding-left: 3px; */
    padding-bottom: 3px;
    float: left;
    border: 2px solid black;
}
.media .fa{
        padding-top: 5px !important;
}
#myBtn fa{
    position: relative;
    bottom: 20px;
}
.caption .product-name p{
float: left;
display: block;
}
.caption .product-name .price{
float: right;
display: block;
}
.caption .stars{
float:left;
display: block;
width:100%;
}
.caption .action{
float: left;
display: block;
padding-bottom: 25px;
}
#scrollToTop
{
 cursor:pointer;
 background-color:transparent;
 display:inline-block;
 height:40px;
 width:40px;
 color:#000;
 text-align:center;
 text-decoration:none;
 line-height:40px;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
font-size: 30px;
border-radius: 10px;
opacity:0.8;
padding-top: 12px;
}
li.coll:nth-last-child(1) {
    border: none;
}
.info-para{
    margin-top: 0px !important;
}
.buy{
    margin-top: 0px !important;
}
.account{
    margin-top: 0px !important;
}
.details ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.shipping ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.myaccount ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.final ul li {
    font-size: 13px;
    list-style: none;
}
.phone-clock-mail{
    padding-top: 17px;
}
.final-fa ul li i {
    padding-right: 10px;
}
.final-fa span{
    opacity: .5;
}
.footer-rights-payments{
    display: block;
    background-color: #333;
    clear: both;
    height: 51px;
}
.all-rights {
color: white;
padding-top: 15px;
margin-left: 10%;
opacity: 0.3;
}
.payment{
float: right;
clear: both;
color: white;
margin-top: -20px;
width: 22%;
}
.payment ul li{
list-style: none;
padding-right: 5px;
display: inline-block;
opacity: 0.3;
}
#accordian{
    display: none;
}

}









@media only screen and (max-width: 991px) {

*{
margin:0px;
padding:0px;
}

header{
width:100%;
height:50px;
}
header form{
float:right;
width: 48%;
margin-right:0;
}
.header{
    margin-top: 6px;
}
.new-classic{
    font-weight: bold;
    font-size: 70px !important;
}
.new-classic1{
    display: none;
}
.top {
width: 50%;
float: right;
padding-top: 1px;
}
.top ul li{
list-style: none;
float: left;
width: 34px;
border: 1px solid #f0f0f0;
padding: 6px;
text-align: center;
background-color: black;
color: white;
}

.top .find{
    margin-right: 10px;
}
.top .person{
    margin-right: 10px;
    background: #f0f0f0;
    color: #333;
}
.top .zero{
    margin-right: 10px;
    background: white;
    color: black;
}
.material-icons{
    font-size: 15px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
  background-color: #333;
  z-index: 1;
}
#navbar .fa {
    position: relative;
    right: -5px;
    top: 2px;
}
#navbar i.material-icons {
    position: relative;
    top: 3px;
    }
#search{
padding:6px;
margin-top: 2px;
border: 1px solid #f1f1f1;
float: left;
width: 50%;
}
nav{
width:100%;
height:51px;
border-bottom:1px solid black;
background-color: black;
}
nav ol li{
display:inline-block;
color:white;
width:150px;
text-align:center;
padding:12px 0px;
}
nav ol li a{
color:black;
}
nav ol li a:hover {
color: black;
}
nav ol li:hover{
cursor:pointer;
}
a.black {
color: white;
}
a.black:hover {
color: white;
}
.carousel-caption {
    right: 20%;
    left: 28%;
    top: 20% !important;
    padding-bottom: 30px !important;
}
.shine {
    font-size: 70px;
    color: #333;
    font-weight: bold;
}
.shine1{
    display: none;
}
#submenu{
display:none;
}
nav ol li:hover #submenu{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
}
nav ol li ol li{
display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;
}

nav ol li:hover #submenu li{
display:list-item;
list-style:none;
background-color:white;
color: black;
text-align: left;
padding-left: 25px;
height: 30px;
width: 174%;
}
nav ol li ol li:hover #submenu1{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
list-style:none;
background-color:red;
left: 210px;
width: 111%;
}
.sale{
    font-size: 70px;
    float: right;
    font-weight: bold;
    color: white;
}
.fine{
    position: relative;
    float: right;
    top: 208px;
    left: 345px;
    font-size: 30px;
    text-align: center;
}
nav ol li ol li:hover{
cursor:pointer;
}
#submenu1{
display:none;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
.shopnow{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 5px;
    padding-left: 22px;
}

.picture ul{
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    width: 100%;

}
.picture li img {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.picture ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 33.33%;
    height: 290px;
    float: left;
    padding: 0px;
    text-align: center;
    position: relative;
}
.svg{
    position: absolute;
    font-size: 75px;
    width: 50px;
    right: 70%;
    top: 50%;
}
.banner ul{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-top: -20px;

}
.banner li img {
    width: 96%;
    margin-left: 4%;

}
.banner ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 49%;
    height: 224px;
    float: left;
    padding: 0px;
    position: relative;
}
.banner-off {
    position: absolute;
    font-size: 24px;
    color: white;
    font-weight: bold;
    left: 31%;
    top: 9%;
}
.learn-more {
    position: absolute;
    font-size: 13px;
    color: white;
    font-weight: bold;
    left: 7%;
    width: 126px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 6px;
    border: 1px solid white;
    margin: 0 auto;
    right: 11%;
    top: 60%;
    text-align: center;
}
.big-sale{
position: absolute;
    font-size: 25px;
    color: black;
    font-weight: bold;
    left: 21%;
    top: 8%;
}
.ornaments{
    position: absolute;
    font-size: 16px;
    color: black;
    font-weight: bold;
    top: 52%;
    opacity: .9;
    right: 9%;
}
.featured{
    margin-left: 22px;
    font-size: 24px;
    margin-top: 0px;
}
#section {
    width: 100%;
    padding-top: 25px;
}
#middlesection {
    border: 1px black;
    background-color: #f1f1f1;
    height: 150px;
    width: 96%;
    margin: 0 auto;
    padding-top: 32px;
    width: 0 auto;
}
.free{
    display: none;
}
#section1 {
    width: 19%;
    float: left;
    margin-left: 30px;
}

#section2 {
    width: 26%;
    height: 75px;
    float: left;
    margin: 0 auto;
}
#section2 p {
    margin: 0px;
    padding-left: 10px;
}
.form-control {
  font-family: "FontAwesome"
}
.control .fa{
    position: relative;
    top: 17px;
    float: left;
    left: 25px;
}
input.form-control {
width: 45%;
    height: 47px;
    /* margin-top: 17px; */
    float: left;
    /* padding-top: 3px; */
    /* padding-left: 31px; */
    border-radius: 0px;
    text-decoration: none;
    display: block;
}
.sale1{
    display: none;
}
.submit {
background-image: none;
    background: black;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 11px;
    font-size: 1.4rem;
    box-sizing: border-box;
    right: 116px;
    vertical-align: middle;
    position: relative;
    top: -42px;
    float: right;
    right: 75px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-4{
    width: 23.66% !important;
    display: inline-block;
}
.sale-shopnow{
    display: none;
}
.new{
    float: right;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.thumbnail{
    border: none !important;
}
.footer{
overflow: hidden;
    /* width: 1200px; */
    /* margin: 0 auto; */
    width: 100%;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.coll {
float: left;
    width: 24%;
    /* padding: 10px; */
    margin-left: 1px;
    /* padding-bottom: 21px; */
    height: 205px;
    border-right: 1px solid black;
    list-style: none;
}
.colfooter h3 {
float: right;
    width: 62%;
    margin-top: 0px !important;
    font-size: 16px;
    margin-bottom: 0px !important;
}
.colfooter .fa {
color: #C0C0C0;
    font-size: 28px !important;
    margin-left: 9px;
}
.para-footer{
float: right;
    margin-top: 10px;
    font-size: 17px;
    padding-right: 10px;
    font-size: 14px;
    width: 61%;
}

.action .material-icons{
    font-size: 22px !important;
    margin-right: 4px !important;
    float: left !important;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-right: 3px !important;
}
.action .fa{
    font-size: 10px !important;
    display: block;
    float: left;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    padding-right: 3px !important;
    align-content: center;
    width: 24px;
}
.brand-footer {
    width: 14%;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 3%;
    display: inline-block;
}
.brand{
    width: 94%;
    clear: both;
    border-top: 1px solid;
    margin-top: 30px;
    margin: 0 auto;
}
.brand-graft{
    display: none;
}
.bottom{
    margin: 0 auto;
    clear: both;
    width: 100%;
    clear: both;
    background-color: #f1f1f1;
    margin-top: 64px;
    overflow: hidden;
    /* margin-left: 25px; */
    padding-top: 45px;
}
.shipping{
    float: left;
    display: inline-block;
    padding-right: 29px;
    margin-left: 25px;
    width: 13%;
}
.bottom-para{
    float: left;
    /* display: block; */
    /* padding-right: 30px; */
    width: 18%;
    margin-left: 5%;
    /* line-height: 25px; */
    opacity: .5;
    display: inline-block;
    padding-right: 0px;
    vertical-align: top;
}
.myaccount{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 0px;
    width: 14%;
}
.final{
    /* margin-left: 14px; */
    float: left;
    display: inline-block;
    /* margin-left: 8px; */
    /* margin-left: 25px; */
    margin-top: -7px;
    width: 29%;
}
.details{
    float: left;
    display: inline-block;
    /* padding-right: 25px; */
    margin-left: 14px;
    width: 13%;
}

.bottom-para ul li{
    list-style: none;
}

.media ul li {
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 51%;
    background: #f1f1f1;
    padding-top: 3px;
    /* padding-right: 3px; */
    /* padding-left: 3px; */
    padding-bottom: 3px;
    float: left;
    border: 2px solid black;
}
.media .fa{
        padding-top: 5px !important;
}
#myBtn fa{
    position: relative;
    bottom: 20px;
}
.caption .product-name p{
float: left;
display: block;
}
.caption .product-name .price{
float: right;
display: block;
}
.caption .stars{
float:left;
display: block;
width:100%;
}
.caption .action{
float: left;
display: block;
padding-bottom: 25px;
}
#scrollToTop
{
 cursor:pointer;
 background-color:transparent;
 display:inline-block;
 height:40px;
 width:40px;
 color:#000;
 text-align:center;
 text-decoration:none;
 line-height:40px;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
font-size: 30px;
border-radius: 10px;
opacity:0.8;
padding-top: 12px;
}
li.coll:nth-last-child(1) {
    border: none;
}
.info-para{
    margin-top: 0px !important;
}
.buy{
    margin-top: 0px !important;
}
.account{
    margin-top: 0px !important;
}
.details ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.shipping ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.myaccount ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.final ul li {
    font-size: 13px;
    list-style: none;
}
.phone-clock-mail{
    padding-top: 17px;
}
.final-fa ul li i {
    padding-right: 10px;
}
.final-fa span{
    opacity: .5;
}
.footer-rights-payments{
    display: block;
    background-color: #333;
    clear: both;
    height: 51px;
}
.all-rights {
color: white;
padding-top: 15px;
margin-left: 10%;
opacity: 0.3;
}
.payment{
float: right;
clear: both;
color: white;
margin-top: -20px;
width: 32%;
}
.payment ul li{
list-style: none;
padding-right: 5px;
display: inline-block;
opacity: 0.3;
}
#accordian{
    display: none;
}
}











 @media only screen and (max-width: 767px) {
    /*Tablet Mode*/
*{
margin:0px;
padding:0px;
}

header{
width:100%;
height:50px;
background: black;
border: 1px solid white;
}
header form{
float:right;
width: 75%;
margin-right:0;
}
.header{
    margin-top: 6px;
}
.new-classic{
    display: none;
}
.new-classic1{
        font-weight: bold;
    font-size: 17px !important;
    margin-top: -28px;
}
.top {
/*width: 29%;*/
float: right;
margin-right: 21%;
padding-top: 2px;
}
.top ul li{
list-style: none;
float: left;
width: 34px;
padding: 6px;
text-align: center;
color: white;
}
.top .find{
    margin-right: 10px;
}
.top .person{
    margin-right: 10px;
    color: white;
}
.top .zero{
    margin-right: 10px;
    background: white;
    color: black;
    border-radius: 20px;
}
.material-icons{
    font-size: 15px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
 /* background-color: #333;
  z-index: 1;*/
  display: none;
}
#navbar .fa {
/*    position: relative;
    right: -5px;
    top: 2px;*/
    display: none;
}
#navbar i.material-icons {
/*    position: relative;
    top: 3px;*/
    display: none;
    }
#search{
display :none;
}
nav{
/*width:100%;
height:51px;
border-bottom:1px solid black;
background-color: black;*/
display: none;
}
nav ol li{
/*display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;*/
display: none;
}
nav ol li a{
/*color:black;*/
display: none;
}
nav ol li a:hover {
/*color: black;*/
display: none;
}
nav ol li:hover{
/*cursor:pointer;*/
display: none;
}
a.black {
/*color: white;*/
display: none;
}
a.black:hover {
/*color: white;*/
display: none;
}
.carousel-caption {
    right: 20%;
    left: 28%;
    top: 20% !important;
    padding-bottom: 30px !important;
}
.shine1 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: -24px;
    margin-bottom: 10px;
}
.shine {
display: none;
}
#submenu{
display:none;
}
nav ol li:hover #submenu{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
display: none;
}
nav ol li ol li{
display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;
display: none;
}

nav ol li:hover #submenu li{
display:list-item;
list-style:none;
background-color:white;
color: black;
text-align: left;
padding-left: 25px;
height: 30px;
width: 174%;
display: none;
}
nav ol li ol li:hover #submenu1{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
list-style:none;
background-color:red;
left: 210px;
width: 111%;
display: none;
}
.sale{
display: none;
}
.sale1{
font-size: 16px;
/*float: right;*/
font-weight: bold;
color: white;
margin-top: -42px;
text-align: center;
}
.fine{
font-size: 14px;
text-align: center;
font-weight: bold;
}
nav ol li ol li:hover{
cursor:pointer;
display: none;
}
#submenu1{
display:none;
}
.find .fa{
    font-size: 23px;
}
.shop .fa{
    font-size: 23px !important;
}
.person .material-icons {
    font-size: 23px !important;
}
.contacts, .info-para {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.contacts {
    padding: 50px;
    display: none;
}
.delivery, .buy {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
.delivery {
    padding: 50px;
    display: none;
}
.ownaccount, .account {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
.ownaccount {
    padding: 50px;
    display: none;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
.shopnow{
background-color: transparent;
color: black;
border: 2px solid black;
padding-top: 1px;
padding-right: 3px;
padding-bottom: 1px;
padding-left: 3px;
text-align: center;
margin-top: -3px;
}
.sale-shopnow{
background-color: black;
color: white;
border: 2px solid white;
padding-top: 2px;
padding-right: 5px;
padding-bottom: 1px;
padding-left: 5px;
text-align: center;
margin-top: -4px;
}
.picture ul{
    padding-top: 10px;
    display: inline-block;
    overflow: hidden;
    width: 100%;

}
.picture li img {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.picture ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 560px;
    /*float: left;*/
    padding: 0px;
    text-align: center;
    position: relative;
}
.svg{
    display: none;
}
.banner ul{
    /*display: block;*/
    width: 96%;
    /* margin-top: -20px; */
    display: block;
    margin: 0 auto;

}
.banner li img {
    width: 100%;
    /* margin-left: 5%; */
     height: 97%;
    /* padding-bottom: 25%; */
    /* display: inline-block; */
    /* display: block; */
    /* margin-bottom: 25%; */
    /* overflow: hidden; */
    /* margin-top: 25px; */
    margin: 0 auto;

}
.banner ul li {
display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 376px;
    /* margin-bottom: 25%; */
    float: none;
    padding: 0px;
    position: relative;

}
.banner-off {
position: absolute;
font-size: 24px;
color: white;
font-weight: bold;
left: 17%;
top: 10%;
}
.learn-more {
position: absolute;
font-size: 13px;
color: white;
font-weight: bold;
left: 3%;
width: 110px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-top: 5px;
border: 1px solid white;
margin: 0 auto;
right: 32%;
top: 68%;
text-align: center;
}
.sale{

}
.big-sale{
position: absolute;
font-size: 21px;
color: black;
font-weight: bold;
left: 17%;
top: 6%;
}
.ornaments{
position: absolute;
font-size: 13px;
color: black;
font-weight: bold;
top: 37%;
opacity: .9;
right: 6%;
}
.featured{
margin-left: 14px;
margin-top: -17px;
text-transform: uppercase;
font-size: 23px;
}
#section {
width: 96%;
padding-top: 25px;
margin: 0 auto;
}
#middlesection {
border: 1px black;
background-color: #f1f1f1;
height: 248px;
width: 96%;
margin: 0 auto;
padding-top: 32px;
    width: 0 auto;
}
#section1 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    float: none;
}
#section1 h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 1px;
}
#section2 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    float: none;
}
#section2 p {
    margin: 10px;
    font-size: 16px;
}
.form-control {
  font-family: "FontAwesome"
}
.control {
    width: 100%;
    margin: 0 auto;
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
}
.control .fa{
position: relative;
    top: 0px;
    display: inline-block;
    left: 24px;
    float: none;
}
input.form-control {
padding-left: 27px;
    width: 86%;
    height: 44px;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 0px;
    margin: 0 auto;
    display: inline-block;
    float: none;
}
.submit {
    float: right;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    /* margin-right: 9%; */
    position: relative;
    top: -39px;
    right: 50px;
    /* margin-top: -12%; */
    padding-right: 20px;
    padding-left: 20px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-4{
    width: 100% !important;
}
.new{
    float: right;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.thumbnail{
    border: none !important;
    display: block;
padding: 4px;
margin-bottom: 91px !important;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}
.footer{
    overflow: hidden;
    /* width: 1200px; */
    /* margin: 0 auto; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.coll {
    float: none;
    width: 96%;
    padding: 0px;
    /* margin-left: 29px; */
    height: 110px;
    /* border-right: 1px solid black; */
    list-style: none;
    border: none;
    margin: 0 auto;
}
.colfooter h3 {
    float: right;
    width: 82%;
    /* padding-left: 32px; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-left: -23px; */
    font-size: 25px;
    font-weight: bold;
}
.free {
    float: right;
    width: 82%;
    /* padding-left: 32px; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-left: -23px; */
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.free-shipping{
    display: none;
}
.colfooter .fa {
    color: #C0C0C0;
    font-size: 40px !important;
    margin-left: 3%;
    float: left;
}
.para-footer{
    float: none;
    /* margin-top: 5px; */
    font-size: 17px;
    /* margin-right: 67px; */
    margin-top: 10%;
    padding-top: 8%;
    padding-right: 0px;
    width: 63%;
    margin: 0 auto;
}

.action .material-icons{
    font-size: 22px !important;
    margin-right: 4px !important;
    float: left !important;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-right: 3px !important;
}
.action .fa{
    font-size: 10px !important;
    display: block;
    float: left;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    padding-right: 3px !important;
    align-content: center;
    width: 24px;
}
.brand-footer {
display: none;
}
.brand{
    width: 94%;
    clear: both;
    margin-top: 30px;
    margin: 0 auto;
}
.brand-graft{
width: 47%;
margin-left: 2%;
vertical-align: middle;
margin-top: 3%;
display: inline-block;
}
.brand-graft img {
    margin: 0 auto;
    width: 89%;
}
.bottom{
margin: 0 auto;
    clear: both;
    width: 100%;
    clear: both;
    background-color: #f1f1f1;
    margin-top: 64px;
    overflow: hidden;
    /* margin-left: 25px; */
    padding-top: 45px;
}
.shipping{
    width: 96%;
    margin: 0 auto;
    float: none;
    padding: 0px;
    display: block;
}
.bottom-para{
float: none;
display: block;
padding-left: 8px;
width: 96%;
margin-left: 0px;
line-height: 30px;
opacity: .5;
margin: 0 auto;
font-size: 19px;
}
.myaccount{
    width: 96%;
    margin: 0 auto;
    float: none;
    display: block;
}
.final{
    float: none;
    display: block;
    /* padding-right: 25px; */
    /* margin-left: 25px; */
    padding: 0px;
    /* margin-top: 4px; */
    width: 96%;
    margin: 0 auto;
    text-align: center;
}
.phone-clock-mail i.fa.fa-clock-o {
    margin-left: 116px;
}
.details{
    width: 96%;
    margin: 0 auto;
    float: none;
    display: block;
}

.bottom-para ul li{
    list-style: none;
}

.media ul li {
padding: 7px;
font-size: 0px !important;
width: 36px;
text-align: center;
text-decoration: none;
margin: 12px 1px;
border-radius: 50%;
background: #f1f1f1;
float: left;
border: 2px solid black;
margin-right: 7px;
}
.media .fa{
        font-size: 16px !important;
}
#myBtn fa{
    position: relative;
    bottom: 20px;
}
.caption .product-name p{
float: left;
display: block;
}
.caption .product-name .price{
float: right;
display: block;
}
.caption .stars{
float:left;
display: block;
width:100%;
}
.caption .action{
float: left;
display: block;
padding-bottom: 25px;
}
#scrollToTop
{
 cursor:pointer;
 background-color:transparent;
 display:inline-block;
 height:40px;
 width:40px;
 color:#000;
 text-align:center;
 text-decoration:none;
 line-height:40px;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
font-size: 30px;
border-radius: 10px;
opacity:0.8;
padding-top: 12px;
}
li.coll:nth-last-child(1) {
    border: none;
}
.info-para{
    margin-top: 0px !important;
}
.buy{
    margin-top: 0px !important;
}
.account{
    margin-top: 0px !important;
}
.details ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.shipping ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.myaccount ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.final ul li {
    font-size: 13px;
    list-style: none;
}
.phone-clock-mail{
    padding-top: 17px;
}
.final-fa ul li i {
    padding-right: 10px;
}
.final-fa span{
    opacity: .5;
}
.footer-rights-payments{
    display: block;
    background-color: #333;
    clear: both;
    height: 124px;
}
.all-rights {
color: white;
padding-top: 15px;
margin-left: 10%;
opacity: 0.3;
font-size: 23px;
}
.payment{
float: right;
clear: both;
color: white;
/*margin-top: -20px;*/
width: 96%;
/*display: inline-block;*/
margin: 0 auto;
padding-top: 10px;
padding-left: 29px;
}
.payment ul li{
list-style: none;
padding-right: 5px;
display: inline-block;
opacity: 0.3;
}




#accordian {
        background: none;
        position: absolute;
        display: block;
        width: 250px;
        margin-top: -50px;
        color: white;
        -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
                box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}

#accordian h3 {
        background: #003040;
        background: -webkit-gradient(linear, left top, left bottom, from(#003040), to(#002535));
        background: linear-gradient(#003040, #002535);
}

#accordian h3 a {
        padding: 0 10px;
        font-size: 12px;
        line-height: 34px;
        display: block;
        color: white;
        text-decoration: none;
}

#accordian h3:hover {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

i {
        margin-right: 10px;
}

#accordian li {
        list-style-type: none;
        background: linear-gradient(#003040, #002535);
}

#accordian ul ul li a,
#accordian h4 {
        color: white;
        text-decoration: none;
        font-size: 11px;
        line-height: 27px;
        display: block;
        padding: 0 15px;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        position: relative;
}

#accordian ul ul li a:hover {
        background: #003545;
        border-left: 5px solid lightgreen;
}

#accordian ul ul {
        display: none;
}

#accordian li.active>ul {
        display: block;
}

#accordian ul ul ul {
        margin-left: 15px;
        border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
        content: "\f107";
}





#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}



}







 @media only screen and (max-width: 480px) {
    /*Tablet Mode*/
*{
margin:0px;
padding:0px;
}

header{
width:100%;
height:50px;
background: black;
border: 1px solid white;
}
header form{
float:right;
width: 75%;
margin-right:0;
}
.header{
    margin-top: 6px;
}
.new-classic{
    display: none;
}
.new-classic1{
        font-weight: bold;
    font-size: 17px !important;
    margin-top: -28px;
}
.top {
/*width: 29%;*/
float: right;
margin-right: 21%;
padding-top: 2px;
}
.top ul li{
list-style: none;
float: left;
width: 34px;
padding: 6px;
text-align: center;
color: white;
}
.top .find{
    margin-right: 10px;
}
.top .person{
    margin-right: 10px;
    color: white;
}
.top .zero{
    margin-right: 10px;
    background: white;
    color: black;
    border-radius: 20px;
}
.material-icons{
    font-size: 15px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
 /* background-color: #333;
  z-index: 1;*/
  display: none;
}
#navbar .fa {
/*    position: relative;
    right: -5px;
    top: 2px;*/
    display: none;
}
#navbar i.material-icons {
/*    position: relative;
    top: 3px;*/
    display: none;
    }
#search{
display :none;
}
nav{
/*width:100%;
height:51px;
border-bottom:1px solid black;
background-color: black;*/
display: none;
}
nav ol li{
/*display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;*/
display: none;
}
nav ol li a{
/*color:black;*/
display: none;
}
nav ol li a:hover {
/*color: black;*/
display: none;
}
nav ol li:hover{
/*cursor:pointer;*/
display: none;
}
a.black {
/*color: white;*/
display: none;
}
a.black:hover {
/*color: white;*/
display: none;
}
.carousel-caption {
    right: 20%;
    left: 28%;
    top: 20% !important;
    padding-bottom: 30px !important;
}
.shine1 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: -24px;
    margin-bottom: 10px;
}
.shine {
display: none;
}
#submenu{
display:none;
}
nav ol li:hover #submenu{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
display: none;
}
nav ol li ol li{
display:inline-block;
color:white;
width:156px;
text-align:center;
padding:12px 0px;
display: none;
}

nav ol li:hover #submenu li{
display:list-item;
list-style:none;
background-color:white;
color: black;
text-align: left;
padding-left: 25px;
height: 30px;
width: 174%;
display: none;
}
nav ol li ol li:hover #submenu1{
display:block;
position:absolute;
z-index: 1;
margin-top:15px;
list-style:none;
background-color:red;
left: 210px;
width: 111%;
display: none;
}
.sale{
display: none;
}
.sale1{
font-size: 16px;
/*float: right;*/
font-weight: bold;
color: white;
margin-top: -42px;
text-align: center;
}
.fine{
font-size: 14px;
text-align: center;
font-weight: bold;
}
nav ol li ol li:hover{
cursor:pointer;
display: none;
}
#submenu1{
display:none;
}
.find .fa{
    font-size: 23px;
}
.shop .fa{
    font-size: 23px !important;
}
.person .material-icons {
    font-size: 23px !important;
}
.contacts, .info-para {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.contacts {
    padding: 50px;
    display: none;
}
.delivery, .buy {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
.delivery {
    padding: 50px;
    display: none;
}
.ownaccount, .account {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
.ownaccount {
    padding: 50px;
    display: none;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
.shopnow{
background-color: transparent;
color: black;
border: 2px solid black;
padding-top: 1px;
padding-right: 3px;
padding-bottom: 1px;
padding-left: 3px;
text-align: center;
margin-top: -3px;
}
.sale-shopnow{
background-color: black;
color: white;
border: 2px solid white;
padding-top: 2px;
padding-right: 5px;
padding-bottom: 1px;
padding-left: 5px;
text-align: center;
margin-top: -4px;
}
.picture ul{
    padding-top: 10px;
    display: inline-block;
    overflow: hidden;
    width: 100%;

}
.picture li img {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.picture ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 300px;
    /*float: left;*/
    padding: 0px;
    text-align: center;
    position: relative;
}
.svg{
    display: none;
}
.banner ul{
    /*display: block;*/
    width: 96%;
    /* margin-top: -20px; */
    display: block;
    margin: 0 auto;

}
.banner li img {
    width: 100%;
    /* margin-left: 5%; */
     height: 97%;
    /* padding-bottom: 25%; */
    /* display: inline-block; */
    /* display: block; */
    /* margin-bottom: 25%; */
    /* overflow: hidden; */
    /* margin-top: 25px; */
    margin: 0 auto;

}
.banner ul li {
display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 240px;
    /* margin-bottom: 25%; */
    float: none;
    padding: 0px;
    position: relative;

}
.banner-off {
position: absolute;
font-size: 24px;
color: white;
font-weight: bold;
left: 17%;
top: 10%;
}
.learn-more {
position: absolute;
font-size: 13px;
color: white;
font-weight: bold;
left: 3%;
width: 110px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-top: 5px;
border: 1px solid white;
margin: 0 auto;
right: 32%;
top: 68%;
text-align: center;
}
.sale{

}
.big-sale{
position: absolute;
font-size: 21px;
color: black;
font-weight: bold;
left: 17%;
top: 6%;
}
.ornaments{
position: absolute;
font-size: 13px;
color: black;
font-weight: bold;
top: 37%;
opacity: .9;
right: 6%;
}
.featured{
margin-left: 14px;
margin-top: 15px;
text-transform: uppercase;
font-size: 17px;
}
#section {
width: 96%;
padding-top: 25px;
margin: 0 auto;
}
#middlesection {
border: 1px black;
background-color: #f1f1f1;
height: 248px;
width: 96%;
margin: 0 auto;
padding-top: 32px;
    width: 0 auto;
}
#section1 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    float: none;
}
#section1 h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 0px;
}
#section2 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    float: none;
}
#section2 p {
    margin: 10px;
    font-size: 14px;
}
.form-control {
  font-family: "FontAwesome"
}
.control {
    width: 100%;
    margin: 0 auto;
    /* align-items: center; */
    /* align-content: center; */
    text-align: center;
}
.control .fa{
position: relative;
    top: 0px;
    display: inline-block;
    left: 24px;
    float: none;
}
input.form-control {
padding-left: 27px;
    width: 86%;
    height: 44px;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 0px;
    margin: 0 auto;
    display: inline-block;
    float: none;
}
.submit {
    float: right;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    /* margin-right: 9%; */
    position: relative;
    top: -39px;
    right: 28px;
    /* margin-top: -12%; */
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-4{
    width: 100% !important;
}
.new{
    float: right;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}
.thumbnail{
    border: none !important;
    display: block;
padding: 4px;
margin-bottom: 91px !important;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}
.footer{
    overflow: hidden;
    /* width: 1200px; */
    /* margin: 0 auto; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.coll {
    float: none;
    width: 96%;
    padding: 0px;
    /* margin-left: 29px; */
    height: 110px;
    /* border-right: 1px solid black; */
    list-style: none;
    border: none;
    margin: 0 auto;
}
.colfooter h3 {
    float: right;
    width: 82%;
    /* padding-left: 32px; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-left: -23px; */
    font-size: 20px;
    font-weight: bold;
}
.free {
    float: right;
    width: 82%;
    /* padding-left: 32px; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-left: -23px; */
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.free-shipping{
    display: none;
}
.colfooter .fa {
    color: #C0C0C0;
    font-size: 30px !important;
    margin-left: 3%;
    float: left;
}
.para-footer{
    float: none;
    /* margin-top: 5px; */
    font-size: 16px;
    /* margin-right: 67px; */
    margin-top: 10%;
    padding-top: 8%;
    padding-right: 0px;
    width: 63%;
    margin: 0 auto;
}

.action .material-icons{
    font-size: 22px !important;
    margin-right: 4px !important;
    float: left !important;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-right: 3px !important;
}
.action .fa{
    font-size: 10px !important;
    display: block;
    float: left;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 6px !important;
    padding-right: 3px !important;
    align-content: center;
    width: 24px;
}
.brand-footer {
display: none;
}
.brand{
    width: 94%;
    clear: both;
    margin-top: 30px;
    margin: 0 auto;
}
.brand-graft{
width: 47%;
margin-left: 2%;
vertical-align: middle;
margin-top: 3%;
display: inline-block;
}
.brand-graft img {
    margin: 0 auto;
    width: 89%;
}
.bottom{
margin: 0 auto;
    clear: both;
    width: 100%;
    clear: both;
    background-color: #f1f1f1;
    margin-top: 64px;
    overflow: hidden;
    /* margin-left: 25px; */
    padding-top: 45px;
}
.shipping{
    width: 96%;
    margin: 0 auto;
    float: none;
    padding: 0px;
    display: block;
}
.bottom-para{
float: none;
display: block;
padding-left: 8px;
width: 96%;
margin-left: 0px;
line-height: 30px;
opacity: .5;
margin: 0 auto;
font-size: 19px;
}
.myaccount{
    width: 96%;
    margin: 0 auto;
    float: none;
    display: block;
}
.final{
    float: none;
    display: block;
    /* padding-right: 25px; */
    /* margin-left: 25px; */
    padding: 0px;
    /* margin-top: 4px; */
    width: 96%;
    margin: 0 auto;
    text-align: center;
}
.phone-clock-mail i.fa.fa-clock-o {
    margin-left: 116px;
}
.details{
    width: 96%;
    margin: 0 auto;
    float: none;
    display: block;
}

.bottom-para ul li{
    list-style: none;
}

.media ul li {
padding: 7px;
font-size: 0px !important;
width: 36px;
text-align: center;
text-decoration: none;
margin: 12px 1px;
border-radius: 50%;
background: #f1f1f1;
float: left;
border: 2px solid black;
margin-right: 7px;
}
.media .fa{
        font-size: 16px !important;
}
#myBtn fa{
    position: relative;
    bottom: 20px;
}
.caption .product-name p{
float: left;
display: block;
}
.caption .product-name .price{
float: right;
display: block;
}
.caption .stars{
float:left;
display: block;
width:100%;
}
.caption .action{
float: left;
display: block;
padding-bottom: 25px;
}
#scrollToTop
{
 cursor:pointer;
 background-color:transparent;
 display:inline-block;
 height:40px;
 width:40px;
 color:#000;
 text-align:center;
 text-decoration:none;
 line-height:40px;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
border: none;
outline: none;
cursor: pointer;
font-size: 30px;
border-radius: 10px;
opacity:0.8;
padding-top: 12px;
}
li.coll:nth-last-child(1) {
    border: none;
}
.info-para{
    margin-top: 0px !important;
}
.buy{
    margin-top: 0px !important;
}
.account{
    margin-top: 0px !important;
}
.details ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.shipping ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.myaccount ul li {
    padding-top: 7px;
    font-size: 13px;
    list-style: none;
    opacity: .5;
}
.final ul li {
    font-size: 13px;
    list-style: none;
}
.phone-clock-mail{
    padding-top: 17px;
}
.final-fa ul li i {
    padding-right: 10px;
}
.final-fa span{
    opacity: .5;
}
.footer-rights-payments{
    display: block;
    background-color: #333;
    clear: both;
    height: 124px;
}
.all-rights {
color: white;
padding-top: 15px;
margin-left: 10%;
opacity: 0.3;
font-size: 23px;
}
.payment{
float: right;
clear: both;
color: white;
/*margin-top: -20px;*/
width: 96%;
/*display: inline-block;*/
margin: 0 auto;
padding-top: 10px;
padding-left: 29px;
}
.payment ul li{
list-style: none;
padding-right: 5px;
display: inline-block;
opacity: 0.3;
}

#accordian {
        background: none;
        position: absolute;
        display: block;
        width: 250px;
        margin-top: -50px;
        color: white;
        -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
                box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}

#accordian h3 {
        background: #003040;
        background: -webkit-gradient(linear, left top, left bottom, from(#003040), to(#002535));
        background: linear-gradient(#003040, #002535);
}

#accordian h3 a {
        padding: 0 10px;
        font-size: 12px;
        line-height: 34px;
        display: block;
        color: white;
        text-decoration: none;
}

#accordian h3:hover {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

i {
        margin-right: 10px;
}

#accordian li {
        list-style-type: none;
        background: linear-gradient(#003040, #002535);
}

#accordian ul ul li a,
#accordian h4 {
        color: white;
        text-decoration: none;
        font-size: 11px;
        line-height: 27px;
        display: block;
        padding: 0 15px;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        position: relative;
}

#accordian ul ul li a:hover {
        background: #003545;
        border-left: 5px solid lightgreen;
}

#accordian ul ul {
        display: none;
}

#accordian li.active>ul {
        display: block;
}

#accordian ul ul ul {
        margin-left: 15px;
        border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
        content: "\f107";
}





#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}


}